<template name="frontend__results">
  <div class="f-section-fullwidth l-flex-main">
    <div class="f-section-fullwidth-inner">
      <div class="f-section-header">
        <div class="f-section-header-title">{{_ 'main_title'}}</div>
      </div>

        <input type="button" id="lg_en" value="EN">
        <input type="button" id="lg_ru" value="RU">

      <nav class="f-results-nav">
        <button class="btn btn-default btn-sm js-add-result" type="button">{{_ "Add game"}}</button>
        <div class="l-flex-main"></div>

        <!--
        <select class="form-control input-sm f-select-player" disabled>
          <option value="">{{_ "Current week"}}</option>
        </select>
        -->

        <select class="form-control input-sm f-select-player js-select-player">
          <option value="">{{_ "All players"}}</option>
          {{#each players}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </nav>

      <div class="f-results">
        {{> tabular
            table=TabularTables.Results
            id="results"
            class="f-results table table-striped table-bordered table-condensed"
            selector=selector
        }}
      </div>
    </div>
  </div>
</template>

<template name="frontend__results__duration">
  {{#with duration_difference}}
    {{#if $eq direction 'positive'}}+{{/if}}{{#if $eq direction 'negative'}}-{{/if}}{{number}}&nbsp;%
  {{/with}}
  {{#with collection_helper__duration}}<br><small>{{this}}</small>{{/with}}
</template>

<template name="frontend__results__actions">
  <button class="btn btn-default btn-sm js-remove"><i class="fa fa-fw fa-trash"></i></button>
</template>

<template name="frontend__create_result">
  {{#autoForm
      class="f-form f-form_create_result"
      id="form__create_result"
      collection=Results
      type="insert"}}

    <div class="row">
      <div class="col-sm-6">
        {{> afQuickField name="players"}}
      </div>
      <div class="col-sm-6">
        {{! #if afFieldValue name="players"}}
          {{> afQuickField name="winner" options=selected_players disabled=winner_disabled uniDisabled=winner_disabled}}
        {{! /if}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        {{> afQuickField name="start"}}
      </div>
      <div class="col-sm-6">
        {{! > afQuickField name="end" value=(afFieldValue name="start") dateTimePickerOptions=end_dateTimePickerOptions}}
        {{> afQuickField name="end" value=(afFieldValue name="start")}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        {{> afQuickField name="continent"}}
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">{{_ "Add"}}</button>
    </div>
  {{/autoForm}}
</template>