<template name="frontend__loading">
  <div class="f-loading {{style}}">
    <div class="f-loading-text">{{_ "Loading"}}...</div>
    <div class="f-loading-animation">
      <div class="f-loading-balls">
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
        <div class="f-loading-ball"></div>
      </div>
    </div>
  </div>
</template>