<template name="frontend__not_found">
  <div class="f-section-fullwidth">
    <div class="f-section-fullwidth-inner">
      <div class="f-error">
        <div class="f-error-code">404</div>
        <div class="f-error-message">{{_ 'Not found'}}</div>
      </div>
    </div>
  </div>
</template>