<template name="modal">
  <div class="b-modal js-modal" {{html_attributes}}>
    <div class="b-modal-hover js-modal-close"></div>
    <div class="b-modal-content-wrap">
      <button type="button" class="b-modal-close js-modal-close">✕</button>
      <div class="b-modal-content">
        {{{content}}}

        {{#if template}}
          {{> Template.dynamic template=template data=data}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="modal_blank">
  <div class="b-modal-content-blank">
    {{{content}}}
  </div>
</template>