// rem setup
// 0.1rem == 1px
// We could use 6.25% but Webkit has minimun font size value around 9-12px.
html
  font-size: 62.5% // 10px

body
  font-size: 140% // 140% of 10px ~ 14px, understood by all browsers
  font-size: 1.4rem // 1.4 * 10px ~ 14px, understood by all major browsers and IE9+

// variables

$size__padding = 0.7rem
$size__padding__phone = 1.6rem
$size__padding__tablet = 2.4rem
$size__padding__desktop = 3.2rem
$size__max_w__text = 66rem
$size__max_w__layout = 128rem

// z-index
$z_post = 20