/* colors */

$white         = #fff
$black         = #000
$light         = lighten($black, 65%)
$almost_white  = #FBFBFB
$light_black   = #222
$light_gray    = #EDEDED
$dark_gray     = #6E6E6E
$dark_cyan     = #008B8B
$light_cyan    = #E1F1F1
$error         = red

$text_dark     = $dark_gray
$text_light    = #b5b5b5 //lighten($text_dark, 35%)
$text_error    = $error
$placeholder   = lighten($text_dark, 80%)
$text_disabled = lighten($text_dark, 65%)
$link          = $dark_gray
$link_visited  = lighten($link, 30%)
$link_hover    = darken($link, 50%)
$link_user     = #006400

$text_inversed         = $almost_white
$link_inversed         = $light_cyan
$link_visited_inversed = darken($link_inversed, 15%)
$link_hover_inversed   = $link_visited_inversed

$text_footer = $dark_gray

$background_dark  = $light_black
$background_light = #F5F5F5
$background_light_tranparent = rgba($background_light, 0.7)
$background_dark_tranparent = rgba($background_dark, 0.7)
$background_medium = #eaeaea
$background_danger = red
$background_label = #444

$border_gray = #999
$border_light = #ddd
$border_error = $error
$border_form_input = #888
$border_form_input_focused = darken($border_form_input, 25%)
$border_form_hr = $border_light

$reset-button()
  background: transparent
  border: 0
  padding: 0
  margin: 0
  color: $text_dark
  text-align: left
  letter-spacing(1.5)

  &:focus
    outline: none