@import 'https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|PT+Serif:400,400i,700,700i&subset=cyrillic';

ff_helvetica()
  font-family: Helvetica, Arial, sans-serif

ff_fira_sans()
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif

ff_pt_serif()
  font-family: 'PT Serif', serif

ff_open_sans()
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

ff_roboto()
  font-family: 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif

ff_monospace()
  font-family: 'PT Mono', Consolas, 'Courier New', monospace

.monospace
  ff_monospace()

letter-spacing($count = 1)
  letter-spacing: (0.0625em * $count)

.f-layout
  ff_fira_sans()
  font-size: 1.4rem
  line-height: 1.5
  //letter-spacing(1.35)

.no-wrap
  white-space: nowrap