$main_outer()
  min-width: 76.8rem
  //max-width: 102.4rem
  margin: 0 auto

.f-layout
  $main_outer()
  display: flex
  flex-direction: column
  min-height: 100vh

.l-centered
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.l-flex-main
  flex: 1

.invisible
  visibility: hidden

body.no-scroll
  overflow: hidden
  //padding-right: 1.5rem

.f-section-fullwidth
  width: 100%

  &.with-background
    background: $background_light

.f-section-fullwidth-inner
  max-width: $size__max_w__layout
  margin: 0 auto
  padding: $size__padding__phone

  @media $tablet_up
    padding: $size__padding__tablet

  @media $desktop_up
    padding: $size__padding__desktop

.f-section-header
  display: flex
  align-items: baseline
  flex-wrap: wrap
  //width: 100%
  margin: 0 0 $size__padding__phone

  @media $tablet_up
    margin: 0 0 $size__padding__tablet

.f-section-header-title
  flex: 1
  font-size: 1.8rem
  margin: 0

.f-section-blocks
  display: flex
  flex-wrap: wrap
  margin: -1.2rem

  @media $desktop_up
    margin: -2.4rem

.f-section-block
  margin: 1.2rem

  @media $desktop_up
    margin: 2.4rem

.f-sidebar-nav-select
  background: auto
  color: black
  cursor: pointer
  border: none
  margin: 0.8rem 1.6rem

.no-overflow-x
  overflow-x: hidden