.f-button
  display: inline-block
  color: $text_dark
  text-decoration: none
  background: transparent
  border: solid 1px $border_form_input
  font-size: 1.3rem
  line-height: 1
  padding: 0.3rem 0.5rem

  @media $phone_up
    font-size: 1.6rem
    padding: 0.5rem 1rem

  &.not-adaptive
    @media $phone_sm_up
      font-size: 1.6rem
      padding: 0.5rem 1rem
  
  &:not(disabled)
    cursor: pointer

    &:hover
      color: $background_dark
      border-color: $background_dark

.f-button_sm
  font-size: 1.1rem
  line-height: 1
  padding: 0.2rem 0.3rem

  @media $phone_up
    font-size: 1.3rem
    padding: 0.3rem 0.5rem

  &.not-adaptive
    @media $phone_sm_up
      font-size: 1.3rem
      padding: 0.3rem 0.5rem

.f-button_inverted
  color: $text_inversed
  border: solid 1px #888
  background: $border_form_input

  &:not(disabled)
    &:hover
      color: $text_inversed
      background: $background_dark