.f-form
  hr
    margin: 0.6rem 0
    border: 0
    border-top: 1px solid $border_form_hr

.f-form_inline
  display: flex
  flex-wrap: wrap
  align-items: baseline

.f-form-title
  font-size: 1.6rem
  font-weight: 500
  line-height: 1
  background: $background_light
  padding: 1.2rem 1.6rem 1.4rem
  margin: 0 0 0.6rem

.f-form-node-group
  display: flex
  align-items: baseline

.f-form-node
  padding: 0.9rem 1.6rem 1.3rem
  margin: 0

.f-form-node_with-background
  background: $background_light

.f-form-label
  font-size: 1.1rem
  line-height: 1
  margin-bottom: 0.4rem

.f-form-value
  font-size: 1.6rem
  font-weight: 500
  line-height: 1

.f-form-row
  display: flex
  align-items: baseline

  > *:not(:last-child)
    margin-right: 1rem

  .f-button_sm
    margin-top: -0.2rem

.f-form-input
  font-size: 1.6rem
  font-weight: 500
  line-height: 1
  border-radius: 0
  border-color: $border_form_input
  background: transparent
  height: auto
  width: auto
  box-sizing: border-box
  padding: 0.3rem 1rem 0.4rem

.f-form-input_no-border
  border-top: none
  border-right: none
  border-left: none
  box-shadow: none
  padding: 0.4rem 0

  &:focus
    box-shadow: none
    padding-bottom: 0.3rem
    border-bottom: solid 2px $border_form_input_focused

.f-form-input_money
  width: 8rem

.f-form-input-group
  display: flex
  align-items: baseline

.f-form-input-group-label
  font-size: 1.6rem
  font-weight: 500
  line-height: 1
  border-radius: 0
  background: $border_form_input
  color: $text_inversed
  padding: 0.6rem

.tribute-container
  position: absolute
  top: 0
  left: 0
  height: auto
  max-height: 30rem
  min-width: 12rem
  max-width: 50rem
  overflow: auto
  display: block
  z-index: 999999
.tribute-container ul
  margin: 2px 0 0
  padding: 0
  list-style: none
  background: $background_light
.tribute-container li
  padding: 0.8rem
  cursor: pointer
.tribute-container li.highlight, .tribute-container li:hover
  background: darken($background_light, 15%)
.tribute-container li span
  font-weight: 600
.tribute-container .menu-highlighted
  font-weight: 600

.f-money-add
  max-width: 30rem
  margin: 0 auto

.f-error-code
  font-size: 4rem
  ff_monospace()

  @media $phone_x_up
    font-size: 6.4rem

.universe-selectize.selectize-control.multi .selectize-input
  height: auto
  min-height: 3.6rem