modal__z-index($add = 0)
  z-index: (600 + $add)

.b-modal
  position: fixed
  modal__z-index()
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  justify-content: center
  align-items: flex-start
  overflow: auto
  
  &[data-modal-vertical=center]
    align-items: center

.b-modal-hover
  position: fixed
  modal__z-index(1)
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: $background_dark_tranparent

.b-modal-content-wrap
  position: relative
  modal__z-index(2)
  min-width: 30rem
  max-width: 64rem
  padding: 0
  background: $white
  border-top: 0.5rem solid $light_black
  $shadow()
  
  [data-modal-vertical=center] &
    max-height: 100vh
    overflow: auto

  [data-modal-width=wide] &
    max-width: 100rem
  
.b-modal-close
  $reset-button()
  position: absolute
  top: 0
  right: 0
  padding: 1rem 1.2rem
  line-height: 1
  color: $text_light
  font-size: 2rem
  font-weight: 300
  
  &:hover
    color: $white
    background: rgba($background_dark, 0.7)
    
.b-modal-content
  padding: 2rem 2rem 0
  font-size: 1.4rem

  [data-modal-content-padding=true] &
    padding: 2rem

  [data-modal-content-no-padding=true] &
    padding: 0
  
  h2
    font-size: 1.6rem

  h3
    font-size: 1.4rem
  
  p
    margin-bottom: 1rem
    
    &:last-of-type
      margin-bottom: 0

.b-modal-content-blank
  padding-bottom: 2rem

.b-modal-content-footer
  display: flex
  align-items: baseline

.f-modal-gallery
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  z-index: 10000
  top: 0
  right: 0
  bottom: 0
  left: 0

  &[data-modal-vertical=center]
    align-items: center

.f-modal-gallery-background
  position: fixed
  modal__z-index(1)
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: $background_dark_tranparent

.f-modal-gallery-item
  modal__z-index(2)
  max-width: "calc(100% - %s)" % ($size__padding__phone * 2)
  height: auto
  max-height: "calc(100% - %s)" % ($size__padding__phone * 2)
  display: none

  @media $tablet_up
    max-width: "calc(100% - %s)" % ($size__padding__tablet * 2)

  @media $desktop_up
    max-width: "calc(100% - %s)" % ($size__padding__desktop * 2)

  &.selected
    display: block

.f-modal-gallery-arrow
  $reset-button()
  color: $text_inversed
  modal__z-index(3)
  position: absolute
  top: 0
  bottom: 0
  padding: $size__padding__phone
  opacity: 0.3
  transition: all 0.3s ease-in-out

  &:hover
    opacity: 1

  &_left
    left: 0
    padding-right: 5vw

    &:hover
      background: linear-gradient(-90deg, rgba($background_dark_tranparent,0) 10%, rgba($background_dark_tranparent,0.5) 90%, $background_dark_tranparent 100%)

  &_right
    right: 0
    padding-left: 5vw

    &:hover
      background: linear-gradient(90deg, rgba($background_dark_tranparent,0) 10%, rgba($background_dark_tranparent,0.5) 90%, $background_dark_tranparent 100%)

.f-modal-gallery-close
  $reset-button()
  color: $text_inversed
  modal__z-index(4)
  position: absolute
  top: 0
  right: 0
  padding: $size__padding__phone
  opacity: 0.3
  transition: all 0.3s ease-in-out

  &:hover
    background: $background_dark_tranparent
    opacity: 1
