.f-intro.remove
  position: absolute
  top: 0
  left: 0
  width: 100vw
  pointer-events: none
  animation: remove-intro 2s ease-out
  -webkit-animation-fill-mode: forwards
  animation-fill-mode: forwards

  .f-loading-balls
    display: none

@keyframes remove-intro
  100%
    transform: translateY(-210vh)
    opacity: 0

.f-loading
  flex: 1
  position: relative
  width: 100%
  overflow: hidden
  padding: $size__padding__phone
  background: linear-gradient(135deg, rgba($white,1) 0%, rgba(220,220,220,1) 47%, rgba($white,1) 100%)
  background-size: 600% 600%
  animation: f-layuot-background 10s ease infinite

  display: flex
  flex-direction: column
  //align-items: center
  //justify-content: center

  @media $phone_up
    padding: $size__padding__desktop

@keyframes f-layuot-background
  0%{background-position:0% 23%}
  50%{background-position:100% 78%}
  100%{background-position:0% 23%}

.f-loading-text
  order: 1
  font-size: 1.3rem
  font-weight: 500
  line-height: 1.3
  letter-spacing(2)
  color: $text_light
  text-align: center

.f-loading-animation
  order: 0
  flex: 1

// balls

.f-loading-balls
  transform: translate(50%, 20vh)

.f-loading-ball
  position: absolute
  background: $text_dark
  border-radius: 100px
  width: 0.7rem
  height: 0.7rem
  margin-bottom: 0.7rem
  opacity: 0.9
  animation: loading-ball 3s linear infinite

  &:nth-child(2)
    opacity: 0.7
    animation-duration: 2s

  &:nth-child(3)
    opacity: 0.5
    animation-duration: 4s

  &:nth-child(4)
    opacity: 0.3
    animation-duration: 2.5s

  &:nth-child(5)
    opacity: 0.1
    animation-duration: 1.3s

  &:nth-child(6)
    opacity: 0.05
    animation-duration: .7s

  &:nth-child(7)
    opacity: 0.25
    animation-duration: 5s

  &:nth-child(8)
    opacity: 0.125
    animation-duration: 1.8s

  &:nth-child(9)
    opacity: 0.5
    animation-duration: 0.3s

  &:nth-child(10)
    opacity: 0.8
    animation-duration: 5s

  &:nth-child(11)
    opacity: 0.3
    animation-duration: 7s

  &:nth-child(12)
    opacity: 0.1
    animation-duration: 2.3s

  &:nth-child(13)
    opacity: 0.4
    animation-duration: 7.3s

@keyframes loading-ball
  25%
    transform: translateX(17.5rem)
  35%
    transform: translateX(-13.5rem)
  65%
    transform: translateX(13.5rem)
  75%
    transform: translateX(-17.5rem)