<template name="frontend__base">
  {{> connectionBanner}}

  <div id="layout" class="f-layout">
    {{> Template.dynamic template=main}}

    {{#with lib_version}}
      <footer class="f-footer">
        <div class="f-section-fullwidth l-flex-main">
          <div class="f-section-fullwidth-inner">
            <small class="monospace">{{_ "Version"}}: {{this}}</small>
          </div>
        </div>
      </footer>
    {{/with}}
  </div>
</template>