//.f-results
//  max-width: 80rem

.f-results-nav
  @media $phone_m_up
    display: flex
    align-items: baseline

.f-select-player
  width: auto
  max-width: 16rem

.f-form_create_result
  @media $tablet_up
    width: 40rem

.f-results-list-item
  display: block

  &:not(:last-child)
    margin-bottom: 0.2rem
    padding-bottom: 0.2rem
    border-bottom: solid 1px $border_light

td.f-table-numbers
  text-align: right

th.f-table-actions
  text-align: center !important
  padding: 5px !important

td.f-table-actions
  .btn
    visibility: hidden

    tr:hover > &
      visibility: visible